.tpasim_edit{
	width:100%;
	height:20px;
	display:none;
	float:left;
}
.tpasim_edit_select{
	height:30px;
	width:220px;
	margin-right:10px;
	text-align:right;
	direction:rtl;
	padding-right:10px;
	font-size:15px;
	border:1px rgb(200,200,200) solid;
	margin-top:15px;
	position:relative;
	float:right;
	transition:0.5s all;
}