.youtube{
	width:1014px;
	height:733px;
	background:url('/www/images/youtube/chrome.png');
	margin-left:-507px;
	margin-top:40px;
	position:relative;
	float:left;
	left:50%;
	z-index: 1;
}
.youtube iframe{
	width:300px;
	height:200px;
	border:0px;
	margin-top:20px;
	margin-left:27px;
	float:left;
	display: block !important;
	z-index: 3;
}
.youtube_row{
	width:100%;
	margin-top:100px;
	float:left;
	position: relative;
	float:left;
	z-index: 2;
}